#Environmental Variables for MongoDB setup
MONGO_INITDB_ROOT_USERNAME=root_user
MONGO_INITDB_ROOT_PASSWORD=root_user_pw
MONGO_ADMIN_USERNAME=admin
MONGO_ADMIN_PASSWORD=admin_pw
MONGO_DATABASE=useful_database
MONGO_DBUSER=dbUser
MONGO_DBUSER_PASSWORD=dbUser_pw